{
  "Id": "allow_pubblic_access",
  "Version": "2012-10-17",
  "Statement": [
    {
      "Sid": "Stmt1647532575903",
      "Action": [
        "s3:GetObject"
      ],
      "Effect": "Allow",
      "Resource": "${bucket_arn}/*",
      "Principal": {"AWS": [ "arn:aws:iam::cloudfront:user/CloudFront Origin Access Identity ${oai_id}"]}
    }
  ]
}